In [2]:
#use this
import pandas as pd
from glob import glob
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [3]:
#use this
df=pd.DataFrame()
filenames = glob("DataGovSG/*_rainfall.csv")
for filename in filenames:
    other_df = pd.read_csv(filename)
    other_df = other_df.rename(columns={"value": "rainfall"})
    other_df["timestamp_sgt"] = other_df["timestamp_sgt"].astype("datetime64[ns]")
    df = df.append(other_df,ignore_index=True)
another_df = df.set_index("station_id").sort_index()

In [33]:
#use this
timechange = pd.to_timedelta("00:15:00")
timechange

Timedelta('0 days 00:15:00')

In [5]:
#use this
nnon_zero = another_df.sort_values("timestamp_sgt",ascending=True).reset_index().set_index("timestamp_sgt",drop=False)
times = nnon_zero.index
nnon_zero = nnon_zero.reset_index(drop=True)
#nnon_zero

In [6]:
times

DatetimeIndex(['2016-12-02 21:49:59', '2016-12-02 21:49:59',
               '2016-12-02 21:49:59', '2016-12-02 21:49:59',
               '2016-12-02 21:49:59', '2016-12-02 21:49:59',
               '2016-12-02 21:49:59', '2016-12-02 21:49:59',
               '2016-12-02 21:49:59', '2016-12-02 21:49:59',
               ...
               '2017-04-30 23:55:00', '2017-04-30 23:55:00',
               '2017-04-30 23:55:00', '2017-04-30 23:55:00',
               '2017-04-30 23:55:00', '2017-04-30 23:55:00',
               '2017-04-30 23:55:00', '2017-04-30 23:55:00',
               '2017-04-30 23:55:00', '2017-04-30 23:55:00'],
              dtype='datetime64[ns]', name='timestamp_sgt', length=2294406, freq=None)

In [8]:
nnon_zero['timestamp_sgt']=pd.DatetimeIndex(nnon_zero['timestamp_sgt']).floor('15min')
nnon_zero

        station_id  rainfall       timestamp_sgt
0             S121       0.0 2016-12-02 21:45:00
1             S109       0.0 2016-12-02 21:45:00
2              S08       0.0 2016-12-02 21:45:00
3             S120       0.0 2016-12-02 21:45:00
4              S11       0.0 2016-12-02 21:45:00
5              S81       0.0 2016-12-02 21:45:00
6             S112       0.0 2016-12-02 21:45:00
7              S69       0.0 2016-12-02 21:45:00
8              S66       0.0 2016-12-02 21:45:00
9              S77       0.0 2016-12-02 21:45:00
10             S89       0.0 2016-12-02 21:45:00
11            S119       0.0 2016-12-02 21:45:00
12            S114       0.0 2016-12-02 21:45:00
13            S123       0.0 2016-12-02 21:45:00
14             S79       0.0 2016-12-02 21:45:00
15             S88       0.0 2016-12-02 21:45:00
16             S55       0.0 2016-12-02 21:45:00
17             S71       0.0 2016-12-02 21:45:00
18            S118       0.0 2016-12-02 21:45:00
19             S46       0.0 2016-12-02 21:45:00
20             S96       0.0 2016-12-02 21:45:00
21             S50       0.0 2016-12-02 21:45:00
22             S92       0.0 2016-12-02 21:45:00
23             S36       0.0 2016-12-02 21:45:00
24            S108       0.0 2016-12-02 21:45:00
25             S35       0.0 2016-12-02 21:45:00
26             S33       0.0 2016-12-02 21:45:00
27            S117       0.0 2016-12-02 21:45:00
28             S91       0.0 2016-12-02 21:45:00
29            S104       0.0 2016-12-02 21:45:00
...            ...       ...                 ...
2294376        S07       0.0 2017-04-30 23:45:00
2294377       S120       0.0 2017-04-30 23:45:00
2294378        S33       0.0 2017-04-30 23:45:00
2294379        S24       0.0 2017-04-30 23:45:00
2294380       S118       0.0 2017-04-30 23:45:00
2294381       S104       0.0 2017-04-30 23:45:00
2294382        S64       0.0 2017-04-30 23:45:00
2294383        S78       0.0 2017-04-30 23:45:00
2294384        S89       0.0 2017-04-30 23:45:00
2294385       S123       0.0 2017-04-30 23:45:00
2294386        S71       0.0 2017-04-30 23:45:00
2294387        S66       0.0 2017-04-30 23:45:00
2294388       S102       0.0 2017-04-30 23:45:00
2294389        S46       0.0 2017-04-30 23:45:00
2294390       S115       0.0 2017-04-30 23:45:00
2294391        S81       0.0 2017-04-30 23:45:00
2294392        S79       0.0 2017-04-30 23:45:00
2294393        S92       0.0 2017-04-30 23:45:00
2294394       S107       0.0 2017-04-30 23:45:00
2294395       S109       0.0 2017-04-30 23:45:00
2294396        S61       0.0 2017-04-30 23:45:00
2294397        S35       0.0 2017-04-30 23:45:00
2294398       S117       0.0 2017-04-30 23:45:00
2294399       S116       0.0 2017-04-30 23:45:00
2294400       S122       0.0 2017-04-30 23:45:00
2294401        S29       0.0 2017-04-30 23:45:00
2294402       S113       0.0 2017-04-30 23:45:00
2294403       S101       0.0 2017-04-30 23:45:00
2294404        S50       0.0 2017-04-30 23:45:00
2294405       S100       0.0 2017-04-30 23:45:00

[2294406 rows x 3 columns]

In [7]:
new_times = pd.DatetimeIndex((np.floor(times.asi8/(1e9*300))*1e9*300).astype(np.int64)).values
new_times[0:100]

array(['2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:45:00.000000000', '2016-12-02T21:45:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:50:00.000000000', '2016-12-02T21:50:00.000000000'], dtype='datetime64[ns]')

In [30]:
nnon_zero = nnon_zero.set_index("timestamp_sgt",drop=True)
nnon_zero = nnon_zero.set_index(new_times,drop=True)
nnon_zero

                    station_id  rainfall
2016-12-02 21:45:00       S121       0.0
2016-12-02 21:45:00       S109       0.0
2016-12-02 21:45:00        S08       0.0
2016-12-02 21:45:00       S120       0.0
2016-12-02 21:45:00        S11       0.0
2016-12-02 21:45:00        S81       0.0
2016-12-02 21:45:00       S112       0.0
2016-12-02 21:45:00        S69       0.0
2016-12-02 21:45:00        S66       0.0
2016-12-02 21:45:00        S77       0.0
2016-12-02 21:45:00        S89       0.0
2016-12-02 21:45:00       S119       0.0
2016-12-02 21:45:00       S114       0.0
2016-12-02 21:45:00       S123       0.0
2016-12-02 21:45:00        S79       0.0
2016-12-02 21:45:00        S88       0.0
2016-12-02 21:45:00        S55       0.0
2016-12-02 21:45:00        S71       0.0
2016-12-02 21:45:00       S118       0.0
2016-12-02 21:45:00        S46       0.0
2016-12-02 21:45:00        S96       0.0
2016-12-02 21:45:00        S50       0.0
2016-12-02 21:45:00        S92       0.0
2016-12-02 21:45:00        S36       0.0
2016-12-02 21:45:00       S108       0.0
2016-12-02 21:45:00        S35       0.0
2016-12-02 21:45:00        S33       0.0
2016-12-02 21:45:00       S117       0.0
2016-12-02 21:45:00        S91       0.0
2016-12-02 21:45:00       S104       0.0
...                        ...       ...
2017-04-30 23:55:00        S07       0.0
2017-04-30 23:55:00       S120       0.0
2017-04-30 23:55:00        S33       0.0
2017-04-30 23:55:00        S24       0.0
2017-04-30 23:55:00       S118       0.0
2017-04-30 23:55:00       S104       0.0
2017-04-30 23:55:00        S64       0.0
2017-04-30 23:55:00        S78       0.0
2017-04-30 23:55:00        S89       0.0
2017-04-30 23:55:00       S123       0.0
2017-04-30 23:55:00        S71       0.0
2017-04-30 23:55:00        S66       0.0
2017-04-30 23:55:00       S102       0.0
2017-04-30 23:55:00        S46       0.0
2017-04-30 23:55:00       S115       0.0
2017-04-30 23:55:00        S81       0.0
2017-04-30 23:55:00        S79       0.0
2017-04-30 23:55:00        S92       0.0
2017-04-30 23:55:00       S107       0.0
2017-04-30 23:55:00       S109       0.0
2017-04-30 23:55:00        S61       0.0
2017-04-30 23:55:00        S35       0.0
2017-04-30 23:55:00       S117       0.0
2017-04-30 23:55:00       S116       0.0
2017-04-30 23:55:00       S122       0.0
2017-04-30 23:55:00        S29       0.0
2017-04-30 23:55:00       S113       0.0
2017-04-30 23:55:00       S101       0.0
2017-04-30 23:55:00        S50       0.0
2017-04-30 23:55:00       S100       0.0

[2294406 rows x 2 columns]

In [10]:
times[0]-(times[0]%timechange)

TypeError: unsupported operand type(s) for %: 'Timestamp' and 'Timedelta'

In [9]:
#use this
locations = pd.read_csv("StationLocations.csv")
locations=locations.rename(columns={"Lon (d)":"longitude","Lat (d)":"latitude"})
#locations

In [10]:
#use this
#nnon_zero.index.name = "timestamp_sgt"
newer_df = nnon_zero.groupby(["timestamp_sgt","station_id"]).sum()
newer_df

                                rainfall
timestamp_sgt       station_id
2016-12-02 21:45:00 S06              0.0
                    S07              0.0
                    S08              0.0
                    S100             0.0
                    S101             0.0
                    S102             0.0
                    S104             0.0
                    S107             0.0
                    S108             0.0
                    S109             0.0
                    S11              0.0
                    S110             0.0
                    S112             0.0
                    S113             0.0
                    S114             0.0
                    S115             0.0
                    S116             0.0
                    S117             0.0
                    S118             0.0
                    S119             0.0
                    S120             0.0
                    S121             0.0
                    S122             0.0
                    S123             0.0
                    S24              0.0
                    S24B             0.0
                    S29              0.0
                    S33              0.0
                    S35              0.0
                    S36              0.0
...                                  ...
2017-04-30 23:45:00 S118             0.0
                    S119             0.0
                    S120             0.0
                    S122             0.0
                    S123             0.0
                    S24              0.0
                    S29              0.0
                    S33              0.0
                    S35              0.0
                    S40              0.0
                    S43              0.0
                    S44              0.0
                    S46              0.0
                    S50              0.0
                    S55              0.0
                    S61              0.0
                    S63              0.0
                    S64              0.0
                    S66              0.0
                    S71              0.0
                    S77              0.0
                    S78              0.0
                    S79              0.0
                    S81              0.0
                    S84              0.0
                    S88              0.0
                    S89              0.0
                    S900             0.0
                    S92              0.0
                    S94              0.0

[769353 rows x 1 columns]

In [11]:
#use this
newer_df = newer_df.reset_index()
newer_df = newer_df.set_index("timestamp_sgt",drop=True).sort_index()
newer_df

                    station_id  rainfall
timestamp_sgt
2016-12-02 21:45:00        S06       0.0
2016-12-02 21:45:00        S07       0.0
2016-12-02 21:45:00        S08       0.0
2016-12-02 21:45:00       S100       0.0
2016-12-02 21:45:00       S101       0.0
2016-12-02 21:45:00       S102       0.0
2016-12-02 21:45:00       S104       0.0
2016-12-02 21:45:00       S107       0.0
2016-12-02 21:45:00       S108       0.0
2016-12-02 21:45:00       S109       0.0
2016-12-02 21:45:00        S11       0.0
2016-12-02 21:45:00       S110       0.0
2016-12-02 21:45:00       S112       0.0
2016-12-02 21:45:00       S113       0.0
2016-12-02 21:45:00       S114       0.0
2016-12-02 21:45:00       S115       0.0
2016-12-02 21:45:00       S116       0.0
2016-12-02 21:45:00       S117       0.0
2016-12-02 21:45:00       S118       0.0
2016-12-02 21:45:00       S119       0.0
2016-12-02 21:45:00       S120       0.0
2016-12-02 21:45:00       S121       0.0
2016-12-02 21:45:00       S122       0.0
2016-12-02 21:45:00       S123       0.0
2016-12-02 21:45:00        S24       0.0
2016-12-02 21:45:00       S24B       0.0
2016-12-02 21:45:00        S29       0.0
2016-12-02 21:45:00        S33       0.0
2016-12-02 21:45:00        S35       0.0
2016-12-02 21:45:00        S36       0.0
...                        ...       ...
2017-04-30 23:45:00       S118       0.0
2017-04-30 23:45:00       S119       0.0
2017-04-30 23:45:00       S120       0.0
2017-04-30 23:45:00       S122       0.0
2017-04-30 23:45:00       S123       0.0
2017-04-30 23:45:00        S24       0.0
2017-04-30 23:45:00        S29       0.0
2017-04-30 23:45:00        S33       0.0
2017-04-30 23:45:00        S35       0.0
2017-04-30 23:45:00        S40       0.0
2017-04-30 23:45:00        S43       0.0
2017-04-30 23:45:00        S44       0.0
2017-04-30 23:45:00        S46       0.0
2017-04-30 23:45:00        S50       0.0
2017-04-30 23:45:00        S55       0.0
2017-04-30 23:45:00        S61       0.0
2017-04-30 23:45:00        S63       0.0
2017-04-30 23:45:00        S64       0.0
2017-04-30 23:45:00        S66       0.0
2017-04-30 23:45:00        S71       0.0
2017-04-30 23:45:00        S77       0.0
2017-04-30 23:45:00        S78       0.0
2017-04-30 23:45:00        S79       0.0
2017-04-30 23:45:00        S81       0.0
2017-04-30 23:45:00        S84       0.0
2017-04-30 23:45:00        S88       0.0
2017-04-30 23:45:00        S89       0.0
2017-04-30 23:45:00       S900       0.0
2017-04-30 23:45:00        S92       0.0
2017-04-30 23:45:00        S94       0.0

[769353 rows x 2 columns]

In [12]:
#use this
indices = newer_df.index.unique().values
indices

array(['2016-12-02T21:45:00.000000000', '2016-12-02T22:00:00.000000000',
       '2016-12-02T22:15:00.000000000', ...,
       '2017-04-30T23:15:00.000000000', '2017-04-30T23:30:00.000000000',
       '2017-04-30T23:45:00.000000000'], dtype='datetime64[ns]')

In [24]:
indices = indices[:-339]
indices

array(['2016-12-02T21:45:00.000000000', '2016-12-02T22:00:00.000000000',
       '2016-12-02T22:15:00.000000000', ...,
       '2017-04-26T10:15:00.000000000', '2017-04-26T10:30:00.000000000',
       '2017-04-26T10:45:00.000000000'], dtype='datetime64[ns]')

In [25]:
len(indices)

13871

In [26]:
#use this
stand_dev = newer_df.groupby("station_id").std()
stand_dev

            rainfall
station_id
S06         0.714430
S07         0.811273
S08         0.752531
S100        0.606725
S101        0.650865
S102        0.474674
S103        0.000000
S104        0.677912
S106        0.581703
S107        0.640091
S108        0.651304
S109        0.771800
S11         0.750599
S110        0.679735
S112        0.656120
S113        0.700173
S114        0.744824
S115        0.649935
S116        0.517140
S117        0.664745
S118        0.762420
S119        0.720994
S120        0.670225
S121        0.718621
S122        0.603941
S123        0.775948
S24         0.679560
S24B        0.000000
S29         0.694335
S33         0.735874
S35         0.652018
S36         0.798202
S40         0.782698
S43         0.855386
S44         0.615744
S46         0.706015
S50         0.705895
S55         0.679933
S60         0.586660
S61         0.784352
S63         0.578924
S64         0.762689
S66         0.752996
S69         0.758816
S71         0.650539
S72         0.000000
S77         0.617835
S78         0.697951
S79         0.743743
S81         0.816612
S84         0.657845
S88         0.810085
S89         0.549783
S90         0.661281
S900        0.657821
S91         0.744273
S92         0.645208
S94         0.662692
S96         0.623054
S97         0.000000

In [27]:
#use this
mean = newer_df.groupby("station_id").mean()
mean

            rainfall
station_id
S06         0.079803
S07         0.085620
S08         0.074899
S100        0.064737
S101        0.069318
S102        0.043638
S103        0.000000
S104        0.076668
S106        0.063994
S107        0.069982
S108        0.067006
S109        0.082592
S11         0.077182
S110        0.070654
S112        0.057696
S113        0.073832
S114        0.079934
S115        0.058779
S116        0.053582
S117        0.065076
S118        0.076547
S119        0.073022
S120        0.068145
S121        0.078325
S122        0.061590
S123        0.081509
S24         0.069151
S24B        0.000000
S29         0.074072
S33         0.067458
S35         0.069540
S36         0.087507
S40         0.078121
S43         0.091748
S44         0.063267
S46         0.074778
S50         0.077811
S55         0.074046
S60         0.051389
S61         0.084990
S63         0.055346
S64         0.077106
S66         0.072092
S69         0.071237
S71         0.062684
S72         0.000000
S77         0.064968
S78         0.074322
S79         0.071503
S81         0.081729
S84         0.066096
S88         0.083901
S89         0.039808
S90         0.066187
S900        0.073004
S91         0.076519
S92         0.062569
S94         0.070373
S96         0.058375
S97         0.000000

In [28]:
#use this
paired_hours = pd.DataFrame()
all_stations = list(newer_df["station_id"].unique())
print(all_stations)
paired_hours["station_id"] = all_stations
paired_hours = paired_hours.set_index("station_id")
for station in all_stations:
    paired_hours[station] = None
print(len(all_stations))

['S06', 'S07', 'S08', 'S100', 'S101', 'S102', 'S104', 'S107', 'S108', 'S109', 'S11', 'S110', 'S112', 'S113', 'S114', 'S115', 'S116', 'S117', 'S118', 'S119', 'S120', 'S121', 'S122', 'S123', 'S24', 'S24B', 'S29', 'S33', 'S35', 'S36', 'S40', 'S43', 'S44', 'S46', 'S50', 'S55', 'S61', 'S63', 'S64', 'S66', 'S69', 'S71', 'S77', 'S78', 'S79', 'S81', 'S84', 'S88', 'S89', 'S90', 'S91', 'S92', 'S94', 'S96', 'S106', 'S103', 'S900', 'S97', 'S60', 'S72']
60

In [29]:
#maybe use this
al_stations = list(locations["station_id"].unique())
print(al_stations)
print(len(al_stations))

['S06', 'S07', 'S08', 'S11', 'S23', 'S24', 'S25', 'S29', 'S31', 'S33', 'S35', 'S36', 'S39', 'S40', 'S43', 'S44', 'S46', 'S50', 'S55', 'S60', 'S61', 'S63', 'S64', 'S66', 'S69', 'S71', 'S72', 'S77', 'S78', 'S79', 'S80', 'S81', 'S82', 'S84', 'S86', 'S88', 'S89', 'S90', 'S91', 'S92', 'S94', 'S96', 'S100', 'S101', 'S102', 'S104', 'S105', 'S106', 'S107', 'S108', 'S109', 'S110', 'S111', 'S112', 'S113', 'S114', 'S115', 'S116', 'S117', 'S118', 'S119', 'S120', 'S121', 'S122', 'S123', 'S241', 'S900']
67

In [30]:
#maybe use this
def intersect(a,b):
    return list(set(a) & set(b))

In [31]:
#maybe use this
print(intersect(all_stations,al_stations))
len(intersect(all_stations,al_stations))
all_stations = intersect(all_stations,al_stations)
print(all_stations)
len(all_stations)

['S115', 'S120', 'S107', 'S43', 'S112', 'S46', 'S24', 'S122', 'S900', 'S36', 'S72', 'S89', 'S84', 'S64', 'S06', 'S29', 'S71', 'S33', 'S104', 'S40', 'S61', 'S66', 'S50', 'S110', 'S116', 'S113', 'S101', 'S114', 'S121', 'S108', 'S123', 'S63', 'S69', 'S55', 'S88', 'S94', 'S102', 'S35', 'S78', 'S08', 'S81', 'S100', 'S118', 'S119', 'S44', 'S96', 'S106', 'S109', 'S60', 'S79', 'S77', 'S91', 'S117', 'S92', 'S11', 'S90', 'S07']
['S115', 'S120', 'S107', 'S43', 'S112', 'S46', 'S24', 'S122', 'S900', 'S36', 'S72', 'S89', 'S84', 'S64', 'S06', 'S29', 'S71', 'S33', 'S104', 'S40', 'S61', 'S66', 'S50', 'S110', 'S116', 'S113', 'S101', 'S114', 'S121', 'S108', 'S123', 'S63', 'S69', 'S55', 'S88', 'S94', 'S102', 'S35', 'S78', 'S08', 'S81', 'S100', 'S118', 'S119', 'S44', 'S96', 'S106', 'S109', 'S60', 'S79', 'S77', 'S91', 'S117', 'S92', 'S11', 'S90', 'S07']

57

In [32]:
#use this
neww = newer_df.set_index("station_id",append=True)
neww

                                rainfall
timestamp_sgt       station_id
2016-12-02 21:45:00 S06              0.0
                    S07              0.0
                    S08              0.0
                    S100             0.0
                    S101             0.0
                    S102             0.0
                    S104             0.0
                    S107             0.0
                    S108             0.0
                    S109             0.0
                    S11              0.0
                    S110             0.0
                    S112             0.0
                    S113             0.0
                    S114             0.0
                    S115             0.0
                    S116             0.0
                    S117             0.0
                    S118             0.0
                    S119             0.0
                    S120             0.0
                    S121             0.0
                    S122             0.0
                    S123             0.0
                    S24              0.0
                    S24B             0.0
                    S29              0.0
                    S33              0.0
                    S35              0.0
                    S36              0.0
...                                  ...
2017-04-30 23:45:00 S118             0.0
                    S119             0.0
                    S120             0.0
                    S122             0.0
                    S123             0.0
                    S24              0.0
                    S29              0.0
                    S33              0.0
                    S35              0.0
                    S40              0.0
                    S43              0.0
                    S44              0.0
                    S46              0.0
                    S50              0.0
                    S55              0.0
                    S61              0.0
                    S63              0.0
                    S64              0.0
                    S66              0.0
                    S71              0.0
                    S77              0.0
                    S78              0.0
                    S79              0.0
                    S81              0.0
                    S84              0.0
                    S88              0.0
                    S89              0.0
                    S900             0.0
                    S92              0.0
                    S94              0.0

[769353 rows x 1 columns]

In [ ]:
#use this
idx=pd.IndexSlice
for station1 in all_stations:
    # Looking for a particular hour, which other stations also have rainfall in that hour.
    # Find total number of pair of stations that have simultaneous rainfall in that hour.
    #total = 0
    #how_many = nnon_zero["station_id"].value_counts()[station1]
    #print(how_many)
    for station2 in all_stations:
        if station2 != station1:
            correlation_coeff = 0
            num_hrs = 0
            for index1 in indices:
                stations = set(newer_df.loc[index1,"station_id"].values)
                if station1 in stations:
                    try:
                        index2 = index1+timechange
                        stations2 = set(newer_df.loc[index2,"station_id"].values)
                        if station2 in stations2:
                            num_hrs += 1
                            #new_index1 = index1 + (station1,)
                            #new_index2 = index2 + (station2,)
                            one = neww.loc[idx[index1, station1],"rainfall"]
                            #print(one)
                            mean_one = mean.loc[station1,"rainfall"]
                            two = neww.loc[idx[index2, station2],"rainfall"]
                            #print(two)
                            mean_two = mean.loc[station2,"rainfall"]
                            correlation_coeff += (one-mean_one)*(two-mean_two)
                    except KeyError:
                        pass
            if num_hrs != 1:
                correlation_coeff = correlation_coeff/((num_hrs-1)*stand_dev.loc[station1,"rainfall"]*stand_dev.loc[station2,"rainfall"])
            else:
                correlation_coeff = 0
            paired_hours.loc[station1,station2]= correlation_coeff
            print(station1,station2,correlation_coeff)
                #total+=1
                #if total == how_many:
                    #pairs +=1
print(paired_hours)

S115 S120 0.0342913336879
S115 S107 0.0758840204867
S115 S43 0.06240796024
S115 S112 0.0363646386353
S115 S46 0.120898152015
S115 S24 0.0335638524146
S115 S122 0.040483160558
S115 S900 0.0607759213389
S115 S36 0.0388484059377

/Users/abby/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:33: RuntimeWarning: invalid value encountered in double_scalars

S115 S72 nan
S115 S89 0.330895931693
S115 S84 0.0694391487989
S115 S64 0.102120079061
S115 S06 0.0495182763256
S115 S29 0.0409147827979
S115 S71 0.217225947521
S115 S33 0.138499904218
S115 S104 0.0593102057442
S115 S40 0.040471101308
S115 S61 0.0906020819318
S115 S66 0.0363586779233
S115 S50 0.132284161192
S115 S110 0.0505370086301
S115 S116 0.213743166379
S115 S113 0.104865804628
S115 S101 0.215737951744
S115 S114 0.188261530479
S115 S121 0.247154511159
S115 S108 0.243557921513
S115 S123 0.0742675527548
S115 S63 0.108616249825
S115 S69 0.0376226365294
S115 S55 0.0677361009376
S115 S88 0.0880001096683
S115 S94 0.0363412225258
S115 S102 0.314551014153
S115 S35 0.17050935743
S115 S78 0.13424748266
S115 S08 0.0472001580955
S115 S81 0.0519905664535
S115 S100 0.104157511158
S115 S118 0.0370733783235
S115 S119 0.165265875588
S115 S44 0.149030339896
S115 S96 0.0236311701753
S115 S106 0.0454647800204
S115 S109 0.0637401845192
S115 S60 0.0388123087518
S115 S79 0.106523684831
S115 S77 0.160069717252
S115 S91 0.0262232005293
S115 S117 0.232623929519
S115 S92 0.211068079884
S115 S11 0.205398734994
S115 S90 0.0519290064094
S115 S07 0.066181073791
S120 S115 0.0522463747579
S120 S107 0.192601136168
S120 S43 0.233547967807
S120 S112 0.0719869529294
S120 S46 0.207219069116
S120 S24 0.172783547661
S120 S122 0.0613286396459
S120 S900 0.144285061146
S120 S36 0.287303983983
S120 S72 nan
S120 S89 0.0687068710201
S120 S84 0.0597909133745
S120 S64 0.172944251554
S120 S06 0.158906449145
S120 S29 0.118196393565
S120 S71 0.316718253964
S120 S33 0.170016141034
S120 S104 0.124312478122
S120 S40 0.140456917876
S120 S61 0.207064890651
S120 S66 0.14091567335
S120 S50 0.224909496546
S120 S110 0.188506254716
S120 S116 0.286547946247
S120 S113 0.277637962786
S120 S101 0.122180702317
S120 S114 0.176694177096
S120 S121 0.203146891223
S120 S108 0.432067992862
S120 S123 0.311958796182
S120 S63 0.181590730363
S120 S69 0.180172920381
S120 S55 0.137864905292
S120 S88 0.233761793915
S120 S94 0.117013385275
S120 S102 0.126785980982
S120 S35 0.232402635986

In [ ]:
#use this
for station1 in all_stations:
    new_locations = locations.set_index("station_id",drop=True)
    new_locations["longitude"] = new_locations["longitude"]-new_locations.loc[station1,"longitude"]
    new_locations["latitude"] = new_locations["latitude"]-new_locations.loc[station1,"latitude"]
    for station2 in all_stations:
        if station2 != station1:
            x=new_locations.loc[station2,"longitude"]
            y=new_locations.loc[station2,"latitude"]
            z=paired_hours.loc[station1,station2]
            plt.scatter(x,y,c=z,vmin=0, vmax=1, marker="s",cmap="Spectral")
plt.colorbar()
plt.show()

In [42]:
indices

array(['2016-12-02T21:45:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:55:00.000000000', ...,
       '2017-04-30T23:45:00.000000000', '2017-04-30T23:50:00.000000000',
       '2017-04-30T23:55:00.000000000'], dtype='datetime64[ns]')

In [76]:
indices = indices[:-1013]
indices

array(['2016-12-02T21:45:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:55:00.000000000', ...,
       '2017-04-26T10:45:00.000000000', '2017-04-26T10:50:00.000000000',
       '2017-04-26T10:55:00.000000000'], dtype='datetime64[ns]')

In [77]:
indices[-100:-1]

array(['2017-04-26T02:35:00.000000000', '2017-04-26T02:40:00.000000000',
       '2017-04-26T02:45:00.000000000', '2017-04-26T02:50:00.000000000',
       '2017-04-26T02:55:00.000000000', '2017-04-26T03:00:00.000000000',
       '2017-04-26T03:05:00.000000000', '2017-04-26T03:10:00.000000000',
       '2017-04-26T03:15:00.000000000', '2017-04-26T03:20:00.000000000',
       '2017-04-26T03:25:00.000000000', '2017-04-26T03:30:00.000000000',
       '2017-04-26T03:35:00.000000000', '2017-04-26T03:40:00.000000000',
       '2017-04-26T03:45:00.000000000', '2017-04-26T03:50:00.000000000',
       '2017-04-26T03:55:00.000000000', '2017-04-26T04:00:00.000000000',
       '2017-04-26T04:05:00.000000000', '2017-04-26T04:10:00.000000000',
       '2017-04-26T04:15:00.000000000', '2017-04-26T04:20:00.000000000',
       '2017-04-26T04:25:00.000000000', '2017-04-26T04:30:00.000000000',
       '2017-04-26T04:35:00.000000000', '2017-04-26T04:40:00.000000000',
       '2017-04-26T04:45:00.000000000', '2017-04-26T04:50:00.000000000',
       '2017-04-26T04:55:00.000000000', '2017-04-26T05:00:00.000000000',
       '2017-04-26T05:05:00.000000000', '2017-04-26T05:10:00.000000000',
       '2017-04-26T05:15:00.000000000', '2017-04-26T05:20:00.000000000',
       '2017-04-26T05:25:00.000000000', '2017-04-26T05:30:00.000000000',
       '2017-04-26T05:35:00.000000000', '2017-04-26T05:40:00.000000000',
       '2017-04-26T05:45:00.000000000', '2017-04-26T05:50:00.000000000',
       '2017-04-26T05:55:00.000000000', '2017-04-26T06:00:00.000000000',
       '2017-04-26T06:05:00.000000000', '2017-04-26T06:10:00.000000000',
       '2017-04-26T06:15:00.000000000', '2017-04-26T06:20:00.000000000',
       '2017-04-26T06:25:00.000000000', '2017-04-26T06:30:00.000000000',
       '2017-04-26T06:35:00.000000000', '2017-04-26T06:40:00.000000000',
       '2017-04-26T06:45:00.000000000', '2017-04-26T06:50:00.000000000',
       '2017-04-26T06:55:00.000000000', '2017-04-26T07:00:00.000000000',
       '2017-04-26T07:05:00.000000000', '2017-04-26T07:10:00.000000000',
       '2017-04-26T07:15:00.000000000', '2017-04-26T07:20:00.000000000',
       '2017-04-26T07:25:00.000000000', '2017-04-26T07:30:00.000000000',
       '2017-04-26T07:35:00.000000000', '2017-04-26T07:40:00.000000000',
       '2017-04-26T07:45:00.000000000', '2017-04-26T07:50:00.000000000',
       '2017-04-26T07:55:00.000000000', '2017-04-26T08:00:00.000000000',
       '2017-04-26T08:05:00.000000000', '2017-04-26T08:10:00.000000000',
       '2017-04-26T08:15:00.000000000', '2017-04-26T08:20:00.000000000',
       '2017-04-26T08:25:00.000000000', '2017-04-26T08:30:00.000000000',
       '2017-04-26T08:35:00.000000000', '2017-04-26T08:40:00.000000000',
       '2017-04-26T08:45:00.000000000', '2017-04-26T08:50:00.000000000',
       '2017-04-26T08:55:00.000000000', '2017-04-26T09:00:00.000000000',
       '2017-04-26T09:05:00.000000000', '2017-04-26T09:10:00.000000000',
       '2017-04-26T09:15:00.000000000', '2017-04-26T09:20:00.000000000',
       '2017-04-26T09:25:00.000000000', '2017-04-26T09:30:00.000000000',
       '2017-04-26T09:35:00.000000000', '2017-04-26T09:40:00.000000000',
       '2017-04-26T09:45:00.000000000', '2017-04-26T09:50:00.000000000',
       '2017-04-26T09:55:00.000000000', '2017-04-26T10:05:00.000000000',
       '2017-04-26T10:10:00.000000000', '2017-04-26T10:15:00.000000000',
       '2017-04-26T10:20:00.000000000', '2017-04-26T10:25:00.000000000',
       '2017-04-26T10:30:00.000000000', '2017-04-26T10:35:00.000000000',
       '2017-04-26T10:40:00.000000000', '2017-04-26T10:45:00.000000000',
       '2017-04-26T10:50:00.000000000'], dtype='datetime64[ns]')

In [79]:
indices[0:100]

array(['2016-12-02T21:45:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:55:00.000000000', '2016-12-02T22:00:00.000000000',
       '2016-12-02T22:05:00.000000000', '2016-12-02T22:10:00.000000000',
       '2016-12-02T22:15:00.000000000', '2016-12-02T22:20:00.000000000',
       '2016-12-02T22:25:00.000000000', '2016-12-02T22:30:00.000000000',
       '2016-12-02T22:35:00.000000000', '2016-12-02T22:40:00.000000000',
       '2016-12-02T22:45:00.000000000', '2016-12-02T22:50:00.000000000',
       '2016-12-02T22:55:00.000000000', '2016-12-02T23:00:00.000000000',
       '2016-12-02T23:05:00.000000000', '2016-12-02T23:10:00.000000000',
       '2016-12-02T23:15:00.000000000', '2016-12-02T23:20:00.000000000',
       '2016-12-02T23:25:00.000000000', '2016-12-02T23:30:00.000000000',
       '2016-12-02T23:35:00.000000000', '2016-12-02T23:40:00.000000000',
       '2016-12-02T23:45:00.000000000', '2016-12-02T23:50:00.000000000',
       '2016-12-02T23:55:00.000000000', '2016-12-03T00:00:00.000000000',
       '2016-12-03T00:05:00.000000000', '2016-12-03T00:10:00.000000000',
       '2016-12-03T00:15:00.000000000', '2016-12-03T00:20:00.000000000',
       '2016-12-03T00:25:00.000000000', '2016-12-03T00:30:00.000000000',
       '2016-12-03T00:35:00.000000000', '2016-12-03T00:40:00.000000000',
       '2016-12-03T00:45:00.000000000', '2016-12-03T00:50:00.000000000',
       '2016-12-03T00:55:00.000000000', '2016-12-03T01:00:00.000000000',
       '2016-12-03T01:05:00.000000000', '2016-12-03T01:10:00.000000000',
       '2016-12-03T01:15:00.000000000', '2016-12-03T01:20:00.000000000',
       '2016-12-03T01:25:00.000000000', '2016-12-03T01:30:00.000000000',
       '2016-12-03T01:35:00.000000000', '2016-12-03T01:40:00.000000000',
       '2016-12-03T01:45:00.000000000', '2016-12-03T01:50:00.000000000',
       '2016-12-03T01:55:00.000000000', '2016-12-03T02:00:00.000000000',
       '2016-12-03T02:05:00.000000000', '2016-12-03T02:10:00.000000000',
       '2016-12-03T02:15:00.000000000', '2016-12-03T02:20:00.000000000',
       '2016-12-03T02:25:00.000000000', '2016-12-03T02:30:00.000000000',
       '2016-12-03T02:35:00.000000000', '2016-12-03T02:40:00.000000000',
       '2016-12-03T02:45:00.000000000', '2016-12-03T02:50:00.000000000',
       '2016-12-03T02:55:00.000000000', '2016-12-03T03:00:00.000000000',
       '2016-12-03T03:05:00.000000000', '2016-12-03T03:10:00.000000000',
       '2016-12-03T03:15:00.000000000', '2016-12-03T03:20:00.000000000',
       '2016-12-03T03:25:00.000000000', '2016-12-03T03:30:00.000000000',
       '2016-12-03T03:35:00.000000000', '2016-12-03T03:40:00.000000000',
       '2016-12-03T03:45:00.000000000', '2016-12-03T03:50:00.000000000',
       '2016-12-03T03:55:00.000000000', '2016-12-03T04:00:00.000000000',
       '2016-12-03T04:05:00.000000000', '2016-12-03T04:10:00.000000000',
       '2016-12-03T04:15:00.000000000', '2016-12-03T04:20:00.000000000',
       '2016-12-03T04:25:00.000000000', '2016-12-03T04:30:00.000000000',
       '2016-12-03T04:35:00.000000000', '2016-12-03T04:40:00.000000000',
       '2016-12-03T04:45:00.000000000', '2016-12-03T04:50:00.000000000',
       '2016-12-03T04:55:00.000000000', '2016-12-03T05:00:00.000000000',
       '2016-12-03T05:05:00.000000000', '2016-12-03T05:10:00.000000000',
       '2016-12-03T05:15:00.000000000', '2016-12-03T05:20:00.000000000',
       '2016-12-03T05:25:00.000000000', '2016-12-03T05:30:00.000000000',
       '2016-12-03T05:35:00.000000000', '2016-12-03T05:40:00.000000000',
       '2016-12-03T05:45:00.000000000', '2016-12-03T05:50:00.000000000',
       '2016-12-03T05:55:00.000000000', '2016-12-03T06:00:00.000000000'], dtype='datetime64[ns]')

In [91]:
indices = indices[:-13]
indices

array(['2016-12-02T21:45:00.000000000', '2016-12-02T21:50:00.000000000',
       '2016-12-02T21:55:00.000000000', ...,
       '2017-04-26T09:35:00.000000000', '2017-04-26T09:40:00.000000000',
       '2017-04-26T09:45:00.000000000'], dtype='datetime64[ns]')