In [1]:
#use this
import pandas as pd
from glob import glob
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
#use this
df=pd.DataFrame()
filenames = glob("DataGovSG/*_rainfall.csv")
for filename in filenames:
    other_df = pd.read_csv(filename)
    other_df = other_df.rename(columns={"value": "rainfall"})
    other_df["timestamp_sgt"] = other_df["timestamp_sgt"].astype("datetime64[ns]")
    df = df.append(other_df,ignore_index=True)
another_df = df.set_index("station_id").sort_index()

In [3]:
#use this
timechange = pd.to_timedelta("01:00:00")

In [4]:
#use this
nnon_zero = another_df.sort_values("timestamp_sgt",ascending=True).reset_index().set_index("timestamp_sgt",drop=False)
times = nnon_zero.index
nnon_zero = nnon_zero.reset_index(drop=True)
nnon_zero

        station_id  rainfall       timestamp_sgt
0             S121       0.0 2016-12-02 21:49:59
1             S109       0.0 2016-12-02 21:49:59
2              S08       0.0 2016-12-02 21:49:59
3             S120       0.0 2016-12-02 21:49:59
4              S11       0.0 2016-12-02 21:49:59
5              S81       0.0 2016-12-02 21:49:59
6             S112       0.0 2016-12-02 21:49:59
7              S69       0.0 2016-12-02 21:49:59
8              S66       0.0 2016-12-02 21:49:59
9              S77       0.0 2016-12-02 21:49:59
10             S89       0.0 2016-12-02 21:49:59
11            S119       0.0 2016-12-02 21:49:59
12            S114       0.0 2016-12-02 21:49:59
13            S123       0.0 2016-12-02 21:49:59
14             S79       0.0 2016-12-02 21:49:59
15             S88       0.0 2016-12-02 21:49:59
16             S55       0.0 2016-12-02 21:49:59
17             S71       0.0 2016-12-02 21:49:59
18            S118       0.0 2016-12-02 21:49:59
19             S46       0.0 2016-12-02 21:49:59
20             S96       0.0 2016-12-02 21:49:59
21             S50       0.0 2016-12-02 21:49:59
22             S92       0.0 2016-12-02 21:49:59
23             S36       0.0 2016-12-02 21:49:59
24            S108       0.0 2016-12-02 21:49:59
25             S35       0.0 2016-12-02 21:49:59
26             S33       0.0 2016-12-02 21:49:59
27            S117       0.0 2016-12-02 21:49:59
28             S91       0.0 2016-12-02 21:49:59
29            S104       0.0 2016-12-02 21:49:59
...            ...       ...                 ...
2294376        S07       0.0 2017-04-30 23:55:00
2294377       S120       0.0 2017-04-30 23:55:00
2294378        S33       0.0 2017-04-30 23:55:00
2294379        S24       0.0 2017-04-30 23:55:00
2294380       S118       0.0 2017-04-30 23:55:00
2294381       S104       0.0 2017-04-30 23:55:00
2294382        S64       0.0 2017-04-30 23:55:00
2294383        S78       0.0 2017-04-30 23:55:00
2294384        S89       0.0 2017-04-30 23:55:00
2294385       S123       0.0 2017-04-30 23:55:00
2294386        S71       0.0 2017-04-30 23:55:00
2294387        S66       0.0 2017-04-30 23:55:00
2294388       S102       0.0 2017-04-30 23:55:00
2294389        S46       0.0 2017-04-30 23:55:00
2294390       S115       0.0 2017-04-30 23:55:00
2294391        S81       0.0 2017-04-30 23:55:00
2294392        S79       0.0 2017-04-30 23:55:00
2294393        S92       0.0 2017-04-30 23:55:00
2294394       S107       0.0 2017-04-30 23:55:00
2294395       S109       0.0 2017-04-30 23:55:00
2294396        S61       0.0 2017-04-30 23:55:00
2294397        S35       0.0 2017-04-30 23:55:00
2294398       S117       0.0 2017-04-30 23:55:00
2294399       S116       0.0 2017-04-30 23:55:00
2294400       S122       0.0 2017-04-30 23:55:00
2294401        S29       0.0 2017-04-30 23:55:00
2294402       S113       0.0 2017-04-30 23:55:00
2294403       S101       0.0 2017-04-30 23:55:00
2294404        S50       0.0 2017-04-30 23:55:00
2294405       S100       0.0 2017-04-30 23:55:00

[2294406 rows x 3 columns]

In [12]:
#use this
for time in times[1:1000]:
    incides = nnon_zero["timestamp_sgt"][nnon_zero["timestamp_sgt"]==time].index.tolist()
    new_time = time.strftime("%Y-%m-%d %H")
    for index in incides:
        nnon_zero.set_value(index,"timestamp_sgt", new_time)
nnon_zero

        station_id  rainfall       timestamp_sgt
0             S121       0.0 2016-12-02 21:00:00
1             S109       0.0 2016-12-02 21:00:00
2              S08       0.0 2016-12-02 21:00:00
3             S120       0.0 2016-12-02 21:00:00
4              S11       0.0 2016-12-02 21:00:00
5              S81       0.0 2016-12-02 21:00:00
6             S112       0.0 2016-12-02 21:00:00
7              S69       0.0 2016-12-02 21:00:00
8              S66       0.0 2016-12-02 21:00:00
9              S77       0.0 2016-12-02 21:00:00
10             S89       0.0 2016-12-02 21:00:00
11            S119       0.0 2016-12-02 21:00:00
12            S114       0.0 2016-12-02 21:00:00
13            S123       0.0 2016-12-02 21:00:00
14             S79       0.0 2016-12-02 21:00:00
15             S88       0.0 2016-12-02 21:00:00
16             S55       0.0 2016-12-02 21:00:00
17             S71       0.0 2016-12-02 21:00:00
18            S118       0.0 2016-12-02 21:00:00
19             S46       0.0 2016-12-02 21:00:00
20             S96       0.0 2016-12-02 21:00:00
21             S50       0.0 2016-12-02 21:00:00
22             S92       0.0 2016-12-02 21:00:00
23             S36       0.0 2016-12-02 21:00:00
24            S108       0.0 2016-12-02 21:00:00
25             S35       0.0 2016-12-02 21:00:00
26             S33       0.0 2016-12-02 21:00:00
27            S117       0.0 2016-12-02 21:00:00
28             S91       0.0 2016-12-02 21:00:00
29            S104       0.0 2016-12-02 21:00:00
...            ...       ...                 ...
2294376        S07       0.0 2017-04-30 23:55:00
2294377       S120       0.0 2017-04-30 23:55:00
2294378        S33       0.0 2017-04-30 23:55:00
2294379        S24       0.0 2017-04-30 23:55:00
2294380       S118       0.0 2017-04-30 23:55:00
2294381       S104       0.0 2017-04-30 23:55:00
2294382        S64       0.0 2017-04-30 23:55:00
2294383        S78       0.0 2017-04-30 23:55:00
2294384        S89       0.0 2017-04-30 23:55:00
2294385       S123       0.0 2017-04-30 23:55:00
2294386        S71       0.0 2017-04-30 23:55:00
2294387        S66       0.0 2017-04-30 23:55:00
2294388       S102       0.0 2017-04-30 23:55:00
2294389        S46       0.0 2017-04-30 23:55:00
2294390       S115       0.0 2017-04-30 23:55:00
2294391        S81       0.0 2017-04-30 23:55:00
2294392        S79       0.0 2017-04-30 23:55:00
2294393        S92       0.0 2017-04-30 23:55:00
2294394       S107       0.0 2017-04-30 23:55:00
2294395       S109       0.0 2017-04-30 23:55:00
2294396        S61       0.0 2017-04-30 23:55:00
2294397        S35       0.0 2017-04-30 23:55:00
2294398       S117       0.0 2017-04-30 23:55:00
2294399       S116       0.0 2017-04-30 23:55:00
2294400       S122       0.0 2017-04-30 23:55:00
2294401        S29       0.0 2017-04-30 23:55:00
2294402       S113       0.0 2017-04-30 23:55:00
2294403       S101       0.0 2017-04-30 23:55:00
2294404        S50       0.0 2017-04-30 23:55:00
2294405       S100       0.0 2017-04-30 23:55:00

[2294406 rows x 3 columns]

In [8]:
print(len(times))

2294406